/* styling of the btns container */
.list-btns-cont {
  display: flex;
  justify-content: space-between;

  /* styling of the buttons container */
  .buttons {
    flex-direction: row;
    row-gap: 10px;
    align-items: center;
  }

  /* styling of the buttons*/
  .btn {
    width: 30px;
    height: 30px;
    background: #541554;
    color: #fff;
    border-radius: 5px;
    border: 2px solid #fff;
    font-size: 15px;

    /* styling of the span */
    span {
      font-size: 16px;
    }
  }

  /* styling of the linestroke class */
  .linestroke {
    text-decoration: line-through;
  }
}

/* styling of the input-edits class */
.input-edit {
  form {
    display: flex;
  }

  /* styling of the input */
  input {
    width: 400px;
    height: 37px;
    border: 2px solid #541554;
    border-radius: 5px 0 0 5px;
    padding: 0 10px;
    outline: none;
  }

  /* styling of the save button */
  .save-btn {
    width: 45px;
    height: 37px;
    background: #541554;
    color: #fff;
    border-radius: 0 5px 5px 0;
    border: 2px solid #541554;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;

    /* styling of the span */
    span {
      font-size: 24px;
    }
  }
}
