/* react-bootstrap bootstrap link */
@import "bootstrap/dist/css/bootstrap.min.css";

/* goolgle fonts link */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,300;1,400&display=swap");

body {
  font-family: "Roboto", sans-serif;
}

/* styling of the todo container  */
.todo-container {
  background: #f3f0f0;
  box-shadow: 1px 1px 37px #a7a4a4;
  max-width: 600px;
  height: 500px;
  margin: 0 auto;
  padding-top: 20px;
  margin-top: 30px;
  margin-bottom: 30px;
  border-radius: 10px;

  .form-info {
    display: flex;
    justify-content: center;

    /* styling the title */
    .title {
      font-size: 25px;
      font-weight: 400;
      color: #541554;
    }
    /* styling of the input field container */
    .input-container {
      display: flex;
      flex-direction: column;
      row-gap: 10px;
      align-items: center;

      /* styling of the input field  */
      input {
        width: 400px;
        height: 37px;
        border: 2px solid #541554;
        border-radius: 5px 0 0 5px;
        padding: 0 10px;
        outline: none;
      }
    }

    .add-button {
      width: 45px;
      height: 37px;
      background: #541554;
      color: #fff;
      border-radius: 0 5px 5px 0;
      border: 2px solid #541554;
      font-size: 15px;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0;
    }
  }
  .input-add-btn {
    margin-bottom: 35px;
    padding: 0 70px;
  }
  .heading {
    padding: 0 65px;
    font-weight: 400;
  }
}
